#upperbox{
   width: 800px;
   height: 300px;
   background: grey;
}

#lowerbox{
   width: 800px;
   height: 800px;
   background: black;
}

#ownplane{
   position:relative;
   left: 350px;
   top: 350px;
   width: 100px;
   height: 100px;
   background-image: url("img/plane_black.svg");
   background-repeat: no-repeat;
   background-size: contain;
}

#maincircle{
   border-radius: 50%;
   width: 800px;
   height: 800px;
   background: white;
}

#circlenear{
   opacity: 1;
   border-style: solid;
   position:absolute;
   border-radius: 50%;
   left: 200px;
   top: 500px;
   width: 400px;
   height: 400px;
}

#circlefar{
   opacity: 1;
   border-style: solid;
   position:absolute;
   border-radius: 50%;
   left: 100px;
   top: 400px;
   width: 600px;
   height: 600px;
}

.upperboxtext{
   color: white;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   font-size: 18px;
}

.containerright{
float:right;
}

.planes{
   position:absolute;
   width: 70px;
   height: 140px;
   background-repeat: no-repeat;
   background-size: contain;
   margin:auto;
}

.planeslabel{
   width:70px;
   position:absolute;
   text-align:center;
   margin:auto;
   bottom: 0px;
   color: red;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   font-size: 16px;

}

.planecircle{
   opacity: 1;
   border-style: solid;
   position:absolute;
   border-radius: 50%;
}
