#upperbox{
   position:relative;
   width: 800;
   height: 300;
   background: black;
}

#upperboxcontrol{
   position:absolute;
   top:0;
   right:10;
   background: black;
   text-align:right;
   font-size: 30;
   color: white;
}

#lowerbox{
   position:relative;
   width: 800;
   height: 800;
   background: black;
}

#ownplane{
   position:absolute;
   left: 350;
   top: 350;
   width: 100;
   height: 100;
   background-image: url("img/plane_black.svg");
   background-repeat: no-repeat;
   background-size: contain;
}

#maincircle{
   border-radius: 50%;
   width: 800;
   height: 800;
   background: white;
}

#circlenear{
   position:absolute;
   opacity: 1;
   border-style: solid;
   border-radius: 50%;
   width: 400;
   height: 400;
   left: 200;
   top: 200;
}

#circlefar{
   position:absolute;
   opacity: 1;
   border-style: solid;
   border-radius: 50%;
   width: 600;
   height: 600;
   left: 100;
   top: 100;
}

#N{
   position:absolute;
   width: 30;
   height: 30;
   left: 390;
   top: 10;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   font-size: 30;
}

#W{
   position:absolute;
   width: 30;
   height: 30;
   left: 10;
   top: 390;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   font-size: 30;
}

#S{
   position:absolute;
   width: 30;
   height: 30;
   left: 385;
   bottom: 10;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   font-size: 30;
}

#O{
   position:absolute;
   width: 30;
   height: 30;
   left: 770;
   top: 390;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   font-size: 30;
}

.upperboxtext{
   color: white;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   font-size: 22;
}

.headline{
   color: white;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   font-size: 32;
}

.planes{
   position:absolute;
   width: 70;
   height: 140;
   background-repeat: no-repeat;
   background-size: contain;
   margin:auto;
}

.planeslabel{
   width:70;
   text-align:center;
   margin:auto;
   bottom: 0;
   color: red;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   font-size: 16;
}

.planecircle{
   position:absolute;
   opacity: 1;
   border-style: solid;
   border-radius: 50%;
   border-color:green;
}

.planecirclelabel{
   position:absolute;
   left:200;
   width:70px;
   text-align:center;
   margin:auto;
   bottom: 0px;
   color: green;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   font-size: 16px;
}